<!-- Edit Todo Modal -->
<div class="modal" id="editTodoModal">
    <div class="modal-dialog">
        <form th:action="@{/lists/{listId}/todos/{todoId}/update(listId=${todoList.id}, todoId=${todo.id})}" method="post">
            <div class="modal-header">
                <h5 class="modal-title">Edit Todo</h5>
                <button type="button" class="btn-close" onclick="closeModal('editTodoModal')">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editTodoDescription" class="form-label">Description</label>
                    <input type="text"
                           class="form-control"
                           id="editTodoDescription"
                           placeholder="Enter todo description"
                           required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal('editTodoModal')">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>